// Custom colors
$white: #fff;
$black: #03050F;
$gray-light: #5E6488;
$gray-dark: #03050F;
$light-1: #CCD1EE;
$light-2: #2B304E;

// Custom Fonts
$BRSonoma-regular: 'BRSonoma-regular';
$BRSonoma-semibold: 'BRSonoma-semibold';
$BRSonoma-bold: 'BRSonoma-bold';
// $onAir-regular: 'OnAir-Regular';
// $onAir-light: 'OnAir-Light';
// $onAir-bold: 'OnAir-Bold';
// $roboto-regular: 'Roboto-Regular';
// $roboto-light: 'Roboto-Light';
// $roboto-bold: 'Roboto-Bold';

// Transitions
$transition: all 300ms ease-in-out;
