@use './../../styles/globals/variables' as *;
@use './../../styles/globals/mixins' as *;

.button {
  width: 100%;
  padding: 19px 0;
  font-size: 18px;
  font-family: $BRSonoma-bold;
  color: $white;
  background-color: $gray-dark;
  border-radius: 40px;
  cursor: pointer;

  @include breakpoint-up(md) {
    width: 195px;
  }
}