@use './../../styles/globals/variables' as *;
@use './../../styles/globals/mixins' as *;

.home {
  @include breakpoint-up(md) {
    display: flex;
    gap: 128px;
  }
}

.left {
  display: none;
  width: 480px;

  @include breakpoint-up(md) {
    display: block;
  }

  img {
    width: 100%;
  }
}

.right {
  @include breakpoint-up(md) {
    width: 350px;
  }
}

.principal {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  @include breakpoint-up(md) {
    margin-bottom: 10px;
  }

  &__text1 {
    display: inline-block;
    padding: 3px 8px 2px;
    font-size: 12px;
    line-height: 16px;
    font-family: $BRSonoma-bold;
    background: linear-gradient(90deg, #00f4e2, #00ff7f);
    border-radius: 4px;
    letter-spacing: .4px;
  }

  &__text2 {
    margin-top: 8px;
    font-size: 28px;
    line-height: 36px;
    font-family: $BRSonoma-bold;
  }

  &__img {
    width: 136px;

    @include breakpoint-up(md) {
      display: none;
    }
  }
}

.divisor {
  margin-bottom: 24px;
  border-bottom: 1px solid $light-1;

  @include breakpoint-up(md) {
    display: none;
  }
}
