@use './../../styles/globals/variables' as *;
@use './../../styles/globals/mixins' as *;

.header {
  @include breakpoint-up(md) {
    height: 60px;
  }

  &__container {
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
  }

  &__logo {
    @include breakpoint-up(md) {
      width: 73px;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__text {
    display: none;

    @include breakpoint-up(md) {
      display: block;
      font-size: 12px;
      font-family: $BRSonoma-semibold;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: $BRSonoma-bold;
    font-size: 18px;

    img {
      margin-right: 8px;
    }
  }
}